In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/fruit.csv')
df.head(3)

         Date  Fruit  Sale
0  2019-04-18  Peach    15
1  2019-12-29  Peach    15
2  2019-06-05  Peach    19

In [3]:
#1.1 每月最后一天的生梨销量总和
df.Date=pd.to_datetime(df.Date)
df[df.Date.dt.is_month_end].query("Fruit=='Pear'").groupby('Date').Sale.sum()

Date
2019-01-31    847
2019-02-28    774
2019-03-31    761
2019-04-30    648
2019-05-31    616
2019-06-30    179
2019-07-31    757
2019-08-31    813
2019-09-30    858
2019-10-31    753
2019-11-30    859
Name: Sale, dtype: int64

In [ ]:
#1.2 每月最后一个工作日的生梨销量总和
ds=pd.date_range('20190101','20191231',freq='BM') #生成每月最后一天工作日的日期序列
df[df.Date.isin(ds)].query("Fruit=='Pear'").groupby('Date').Sale.sum()